from settings import *
import os

ROOT_PATH = os.path.dirname(__file__)

TEMPLATE_DIRS = (os.path.join(ROOT_PATH,"templates","buzz"),)
URL_PREFIX = ""
DEBUG = True
MEDIA_URL = "media/"
MEDIA_ROOT = os.path.join(ROOT_PATH,"media")



DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'db.sqlite3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}
