import os

ROOT_PATH = os.path.dirname(__file__)

DEBUG = True
SITE_URL = "http://127.0.0.1:8000/"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'db.sqlite3',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}
