{% extends "template.html" %}{% load i18n %}{% load query %}{% load highlight %}

{% block main_content %}
    <form id="kw-search" method="get" action="">
        {% for key,val in query.iteritems %}
        <input type="hidden" name="{{key}}" value="{{val|query_encode_val}}"/>
        {%endfor%}
        <input type="search" id="id_q" name="q" value="{{query.q}}" placeholder="{% trans "Search by keyword" %}">
    </form>
    <h2>Mentions</h2>
        <ul class="messages segmented mentions">
        {% for mention in mentions %}
            <li class="message mention">
                <a href="{{ mention.link }}">{{ mention.type }} @ {{ mention.origin }}</a>
                <p class="body">
                    {% if query.q %}
                    {{ mention.text|highlight:query.q }}
                    {% else %}
                    {{ mention.text }}
                    {% endif %}
                </p>
                <ul class="info">
                    <li><span>{%trans "Estimate audience:"%}</span> {{ mention.estimated_audience }} persons.</li>
                    <li><span>{%trans "Author type:"%}</span> {{ mention.author_expertise }}</li>
                    <li><span>{%trans "Feedback:"%}</span> {{ mention.get_feedback_display }}</li>
                    <li><span>{%trans "Remarks:"%}</span> {{ mention.remarks }}</li>
                    <li><span>{%trans "Updated:"%}</span> {{ mention.get_update_rate_display }}</li>
                    {% if mention.relevant_audience %}
                    <li><span>{%trans "Relevant audience"%}</span></li>
                    {% endif %}
                </ul>
                <div style="display:none" class="followups">
                    {% for followup in mention.followups %}
                        <div class="followup">
                            <strong>{{ followup.status }} by {{followup.creation_user}} on {{ followup.creation_date }}</strong>
                            <p>{{ followup.remarks }}</p>
                        </div>
                    {% endfor %}
                    <a class="add-followup-inline" href="{% url followup_new mention.pk %}">Add followup</a>
                </div>
                <ul class="meta">
                    <li>Added by: {{ mention.creation_user }} on {{ mention.creation_date }}</li>
                    <li>
                        {% if mention.followups %}
                            {{mention.followups|length}} Followups (<a href="#" class="followups-show">show</a>)
                        {% else %}
                            <a href="{% url followup_new mention.pk %}">Add followup</a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url edit mention.id %}">Edit</a></li>
                    {% endif %}
                </ul>
            </li>
        {% empty %}
            {% trans "No mentions found." %}
        {% endfor %}
    </ul>
{% endblock %}

{% block left_col %}
    <div class="col left">
        <div class="block segments">
            <div id="feedback_type" class="choice">
                <h3>{% trans "Feedback type" %}</h3>
                <ul>
                    {% for val,name in FEEDBACK_TYPES %}
                    <li><a class="{% if val in query.feedback_type %}selected{%endif%}" href="?{{ query|query_get:"feedback_type"|query_set:val|query_encode }}" data-althref="?{{ query|query_get:"feedback_type"|query_toggle:val|query_encode}}" title="{{name}}">{{name}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div id="country" class="choice">
                <h3>{% trans "Country" %}</h3>
                <ul>
                    {% for val,name in COUNTRIES.iteritems %}
                    <li><a class="{% if val in query.country %}selected{%endif%}" href="?{{ query|query_get:"country"|query_set:val|query_encode }}" data-althref="?{{ query|query_get:"country"|query_toggle:val|query_encode}}" title="{{name}}">{{name}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div id="product" class="choice">
                <h3>{% trans "Product" %}</h3>
                <ul>
                    {% for val,name in PRODUCTS.iteritems %}
                    <li><a class="{% if val in query.product %}selected{%endif%}" href="?{{ query|query_get:"product"|query_set:val|query_encode }}" data-althref="?{{ query|query_get:"product"|query_toggle:val|query_encode}}" title="{{name}}">{{name}}</a></li>
                    {%endfor%}
                </ul>
            </div>
            <div id="update_rate" class="choice">
                <h3>{% trans "Update rate" %}</h3>
                <ul>
                    {% for val,name in UPDATE_RATE %}
                    <li><a class="{% if val in query.update_rate %}selected{%endif%}" href="?{{ query|query_get:"update_rate"|query_set:val|query_encode }}" data-althref="?{{ query|query_get:"update_rate"|query_toggle:val|query_encode}}" title="{{name}}">{{name}}</a></li>
                    {%endfor%}
                </ul>
                <div class="helptext">
                    {% trans "Hold down shift to select multiple options" %}
                </div>
            </div>
            <div class="choice">
                <form id="audience" class="choice">
                    <h3>{% trans "Audience" %}</h3>
                    <div id="audience-preview"></div>
                    <div id="slider-audience"></div>
                    {% for key,val in query.iteritems %}
                        <input id="input_audience_{{key}}" type="hidden" name="{{key}}" value="{{val|query_encode_val}}"/>
                    {%endfor%}
                    <input id="audience-update" type="submit" style="display:none" value="Update results" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
