{% extends "template.html" %}

{% load i18n %}
{% block main_content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
<label class="login_label" for="login_username">Username:</label>
<input id="login_username" type="text" name="username" maxlength="30" />

<label class="login_label" for="login_password">Password:</label>
<input id="login_password" type="password" name="password" />

<input id="login_submit" type="submit" value="Log in" />

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

{% block left_col %}
    <div class="col left block helptext">
        You need to have a Mozbuzz account to use this feature. If you have a Mozbuzz account, log-in in the form beside. If you don't have a Mozbuzz account and you think you should, email <a href="tecnico@mozilla-hispano.org">tecnico@mozilla-hispano.org</a>.
    </div>
{% endblock %}

{% block right_col %}
{% endblock %}
