{% extends "template.html" %}{% load i18n %}{% load query %}{% load markup %}

{% block main_content %}
        <ul class="messages segmented mentions">
            <li class="message mention">
                <a href="{% url mention_view mention.pk %}">{{ mention.type }} @ {{ mention.source_name }}</a>
                <div class="body markdown">
                    {{ mention.text|markdown }}
                </div>
                <ul class="info">
                    {% if mention.link %}
                    <li>
                        <a class="mention-external-link" href="{{ mention.link }}">{% trans "Original page" %}</a>
                    </li>
                    {% endif%}
                    <li>
                        <span>{%trans "Estimate audience:"%}</span>
                        {{ mention.estimated_audience }} persons.
                    </li>
                    <li>
                        <span>{%trans "Author type:"%}</span>
                        <a href="?author_expertise={{ mention.author_expertise_id }}">{{ mention.author_expertise }}</a>
                    </li>
                    <li>
                        <span>{%trans "Country:"%}</span>
                        <a href="?country={{ mention.country_id }}">{{ mention.country }}</a>
                    </li>
                    <li>
                        <span>{%trans "Product:"%}</span>
                        <a href="?product={{ mention.product_id }}">{{ mention.product }}</a>
                    </li>
                    <li>
                        <span>{%trans "Feedback:"%}</span>
                        <a href="?feedback_type={{ mention.feedback }}">{{ mention.get_feedback_display }}</a>
                    </li>
                    <li>
                        <span>{%trans "Remarks:"%}</span>
                        {{ mention.remarks }}
                    </li>
                    <li>
                        <span>{%trans "Updated:"%}</span>
                        <a href="?update_rate={{ mention.update_rate }}">{{ mention.get_update_rate_display }}</a>
                    </li>
                    {% if mention.relevant_audience %}
                    <li>
                        <span>{%trans "Relevant audience"%}</span>
                    </li>
                    {% endif %}
                </ul>
                <div style="display:none" class="followups">
                    {% for followup in mention.followups %}
                        <div class="followup">
                            <strong>{{ followup.status }} by {{followup.creation_user}} on {{ followup.creation_date }}</strong>
                            <p>{{ followup.remarks|markdown }}</p>
                        </div>
                    {% endfor %}
                    <a class="add-followup-inline" href="{% url followup_new mention.pk %}">Add followup</a>
                </div>
                <ul class="meta">
                    <li>Added by {{ mention.creation_user }} on {{ mention.creation_date }}</li>
                    <li>
                        {% if mention.followups %}
                            {{mention.followups|length}} Followups (<a href="#" class="followups-show">show</a>)
                        {% else %}
                            <a href="{% url followup_new mention.pk %}">Add followup</a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url edit mention.id %}">Edit</a></li>
                    {% endif %}
                </ul>
            </li>
    </ul>
{% endblock %}

{% block left_col %}{% endblock %}
