{% extends "template.html" %}{% load i18n %}{% load query %}

{% block main_content %}
    <form method="post"
    {% if pk %}
        action="{% url edit pk %}"
    {% else %}
        action="{% url create %}"
    {% endif %}
    >
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% block extrascript %}
    <script src="{{MEDIA_URL}}js/readability.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/to-markdown.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/mozreadability.js" type="text/javascript"></script>
{% endblock %}
