{% extends "template.html" %}{% load i18n %}{% load query %}

{% block main_content %}
    <form method="post"
    {% if pk %}
        action="{% url edit pk %}"
    {% else %}
        action="{% url create %}"
    {% endif %}
    >
        {% csrf_token %}

        {{form.link.errors}}
        {{form.link.label_tag}}
        {{form.link}}
        {{form.remarks.errors}}
        {{form.remarks.label_tag}}
        {{form.remarks}}
        {% if is_new %}
        <div id="mention_guess_prompt">
            <a href="#" onclick="return guessInformation();">{%trans "Guess Information"%}</a>
            <a href="#" onclick="return guessCancell();">{%trans "Don't guess"%}</a>
        </div>
        {% endif %}
        <div id="mention_form_otherfields_cnt" {% if is_new %}style="display: none"{% endif %}>
        {% for field in form %}
        {% if field.name != "link" and field.name != "remarks" %}
            <div id="field_{{field.name}}_cnt">
                {{field.errors}}
                {{field.label_tag}}
                {{field}}
                <div id="field_{{field.name}}_result"></div>
            </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}

{% block extrascript %}
    <script src="{{MEDIA_URL}}js/readability.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/to-markdown.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/mozreadability.js" type="text/javascript"></script>
{% endblock %}
