{% load i18n %}{% load query %}<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Mozbuzz</title>
    <link href="{{MEDIA_URL}}css/libs/reset-min.css" rel="stylesheet" />
    <link href="{{MEDIA_URL}}css/mozbuzz.css" rel="stylesheet" />
  </head>
  <body>
    {% block header %}
        <div id="header">
            <div class="funnel">
                <h1>
                    <a href="{% url index %}"><strong>Moz</strong>Buzz</a>
                </h1>
                <ul>
                    <li><a class="{% if view_name = "index" %}navactive{% endif %}" href="{% url index %}"><span>Overview</span></a></li>
                    <li><a class="{% if view_name = "mention" %}navactive{% endif %}" href="{% url create %}"><span>File report</span></a></li>
                    {% if user.is_authenticated %}
                    <li><a class="" href="{% url django.contrib.auth.views.logout %}"><span>{% trans "Logout" %}</span></a></li>
                    {% else %}
                    <li><a class="" href="{% url django.contrib.auth.views.login %}"><span>{% trans "Login" %}</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
    <div id="body">
        <div class="funnel"/>
            {% block left_col %}{% endblock %}
            <div class="col middle wide">
                <div class="block">
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
	</div>
    <script src="{{MEDIA_URL}}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/mozbuzz.js" type="text/javascript"></script>
  </body>
</html>
