{% load i18n %}{% load query %}<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Mozbuzz</title>
    <link href="{{MEDIA_URL}}css/libs/reset-min.css" rel="stylesheet" />
    <link href="{{MEDIA_URL}}css/mozbuzz.css" rel="stylesheet" />
  </head>
  <body>
    {% block header %}
        <div id="header">
            <div class="funnel">
                <h1>
                    <a href="#TODO"><strong>Moz</strong>Buzz</a>
                </h1>
                <ul>
                    <li><a class="navactive" href="#TODO"><span>Overview</span></a></li>
                    <li><a class="" href="{% url create %}"><span>File report</span></a></li>
                    <li><a class="" href="#TODO"><span>Search</span></a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
    <div id="body">
        <div class="funnel"/>
            {% block left_col %}
                <div class="col left">
                    <div class="block segments">
                        <div id="feedback_type" class="choice">
                            <h3>{% trans "Feedback type" %}</h3>
                            <ul>
                                {% for val,name in FEEDBACK_TYPES %}
                                <li><a class="{% if val in query.feedback_type %}selected{%endif%}" href="{% url index %}?{{ query|query_get:"feedback_type"|query_set:val|query_encode }}" data-althref="?{{ query|query_get:"feedback_type"|query_toggle:val|query_encode}}" title="{{name}}">{{name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                        <div id="update_rate" class="choice">
                            <h3>{% trans "Update rate" %}</h3>
                            <ul>
                                {% for val,name in UPDATE_RATE %}
                                <li><a class="{% if val in query.update_rate %}selected{%endif%}" href="?{{ query|query_get:"update_rate"|query_set:val|query_encode }}" title="{{name}}">{{name}}</a></li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="col middle wide">
                <div class="block">
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
	</div>
    <script src="{{MEDIA_URL}}js/jquery.min.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/mozbuzz.js" type="text/javascript"></script>
  </body>
</html>
