{% extends "base.html" %}

{% load i18n query %}
{% load files %}

{% block main_content %}

    <form method="post"
    {% if pk %}
        action="{% url "edit" pk %}"
    {% else %}
        action="{% url "create" %}"
    {% endif %}
    id="mention_form" enctype="multipart/form-data">
        {% csrf_token %}

        {% if not pk and request.GET.rsspost %}
            <input type="hidden" name="rsspost_hide" value="{{ request.GET.rsspost }}"/>
        {% endif %}

        {{form.link.errors}}
        {{form.link.label_tag}}
        {{form.link}}
        {{form.remarks.errors}}
        {{form.remarks.label_tag}}
        {{form.remarks}}
        {{form.upload_file.errors}}
        {{form.upload_file.label_tag}}
        {{form.upload_file}}

        {% if is_new %}
        <div id="mention_guess_prompt">
            <button onclick="guessInformation(); return false;">{%trans "Guess Information"%}</button>
            <button onclick="guessCancell(); return false;">{%trans "Don't guess"%}</button>
        </div>
        {% endif %}
        <div id="duplicates" class="errorlist hidden">
            {% trans "The following possible duplicates were found:" %}
            <ul id="duplicates-list"></ul>
        </div>
        <div id="mention_form_otherfields_cnt" {% if is_new %}style="display: none"{% endif %}>
        {% for field in form %}
        {% if field.name != "link" and field.name != "remarks" and field.name != "upload_file" %}
            <div id="field_{{field.name}}_cnt">
                {{field.errors}}
                {{field.label_tag}}
                {{field}}
                {% if field.name == "estimated_audience" %}
                    <input type="checkbox" name="estimated_audience_null_check" id="estimated_audience_null_check" value="estimated_audience_null_check" checked=true>{%trans "Unknown"%}
                {% endif %}
                <div id="field_{{field.name}}_result"></div>
            </div>
        {% endif %}
        {% endfor %}
        <input type="submit" value="{% trans "Submit" %}" />
        </div>
    </form>
{% endblock %}

{% block extrascript %}
    <script src="{{STATIC_URL}}js/readability.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/to-markdown.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/mozreadability.js" type="text/javascript"></script>
    {% if is_new and form.initial.link|length > 10 %}
        <script type="text/javascript">guessInformation();</script>
    {% endif %}
    <script>
        $("#id_estimated_audience").keyup(function() {
            if ($("#id_estimated_audience").val().length==0) {
                $("#estimated_audience_null_check").attr('checked', true);
            } else {
                $("#estimated_audience_null_check").attr('checked', false);
            }
        });
        
        $('#estimated_audience_null_check').change(function() {
            if($(this).is(":checked")) {
                $("#id_estimated_audience").val("");
            }
        });
        </script>
    
{% endblock %}
