{% extends "base.html" %}{% load i18n %}
{% block main_content %}

<form method="post" action="{% url "django.contrib.auth.views.password_change" %}">
{% csrf_token %}
{{ form.as_p }}
<input id="login_submit" type="submit" value="{% trans "Change password"%}"/>
</form>

{% endblock %}

{% block left_col %}
    <div class="col left block helptext">
        {% blocktrans %}
        	In this form you can change your password. If you don't remember your current password, email <a href="mailto:tecnico@mozilla-hispano.org">tecnico@mozilla-hispano.org</a>.
        {% endblocktrans %}
    </div>
{% endblock %}

{% block right_col %}
{% endblock %}
